<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.management.mapper.UserMapper">
    <select id="getUserByuserId" parameterType="java.lang.String" resultType="User">
        select * from User
        where userID = #{userID}
    </select>

    <update id="blockUser">
        update User
        set isBanned = #{kind} , unblockTime = #{unblockDate}
        where userID = #{userID}
    </update>

    <update id="unblockUser">
        update User
        set isBanned = 0 , unblockTime = #{nowDate}
        where userID = #{userID}
    </update>

    <select id="getUserByAuthorID" parameterType="java.lang.String" resultType="User">
        select *
        from User
        where authorID = #{authorId}
    </select>

    <update id="deleteAuthorID" parameterType="java.lang.String">
        update User
        set authorID = NULL
        where authorID=#{id}
    </update>

    <select id="getOrganization" parameterType="java.lang.String" resultType="java.lang.String">
        select organization
        from User
        where authorID = #{id}
    </select>

    <update id="updateUserIdentity" parameterType="java.lang.String">
        update User
        set userIdentity = 3
        where userID = #{id}
    </update>

    <update id="resetUserIdentity" parameterType="java.lang.String">
        update User
        set userIdentity = 1
        where userID = #{id}
    </update>
</mapper>